@media(min-width:900px){
    body{
        background-image: url(../Images/Background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .social{
        margin-top: 10vh;
        color: white;
    }
    .picture-description-container{
        height: 50%;
    }

    .md-6{
        width: 40%;
    }

    .global-margin{
        margin: 5vw;
    }
    .md-biography-skills-container{
        display: flex;
    }

    .Biography-container{
        background-color: #5c68768a;
        padding: 10px;
    }
    .md-biography{
        color: rgb(201, 201, 201);
    }
    .top-space-m{
        margin-top: 1vh;
    }

    .top-space-sm{
        margin-top: 0.7vh;
   
    }
    .interest-section{
        color: rgb(201, 201, 201);
    }
    
    .skills{
        /* background-color: tomato; */
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 40%;

        /* background-color: turquoise; */
    }
    
    .skills-info{
        margin-top: 15px;
    }   
    .skills-container{
        height: 100%;
        width: 40%;
    } 

    .progress-html{
        background-color: white;
        width: 7vw;
        height: 1vh;
        font-size: 0%;
    }

    .progress-css{
        background-color: white;
        width: 6vw;
        height: 1vh;
        font-size: 0%;
    }

    .progress-javascript{
        background-color: white;
        width: 10vw;
        height: 1vh;
        font-size: 0%;
    }
    
    
}

@media (max-width:900px) {
    .mq-display{
        display: none;
    }
}
