.global-margin{
    margin: 20px;
}





.display-flex{
    display: flex;
}

.df-spaced-arround{
    justify-content: space-around;
}

.df-spaced-between{
    justify-content: space-between;
}

.df-center{
    justify-content: center;
    align-items: center;
}

.df-vertical{
    flex-direction: column;
}


/* =================== HEGHT MEASURES ============= */
/* #region Height measures */

.height100pcnt{
    height: 100%;
}

.margin-top50{
    margin-top: 50%;
}

.top-space-sm{
    margin-top: 7px;
}


/* #endregion */

/* ================================================== */




